.spinner-background {
    position: fixed;
    height: 100%;
    width: 100%;
    /* background-color:darkgray */
    background: rgba(79, 79, 79, 0.6);
}

.spinner-icon {
    /* centered */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    /* background: rgba(79, 79, 79, 0.2); */
    background-image: url('../../Assets/spinner-of-dots.png');
    background-size: cover;
    /* border: 2px solid yellow; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    pointer-events: none;
}


.spinner-icon {
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
@media (prefers-reduced-motion: no-preference) {
    .spinner-icon {
        animation: logo-spin infinite 1.5s steps(256);
    }
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.App-link {
    color: #61dafb;
}


.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* animation: spin 1s linear ; */
}

@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: spin infinite 1.5s linear;
    }
}

@keyframes spin {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.testFrame {
    display: flex;
    background-color: blue;
    height: 100vh;
    /* width: 100vh; */
}