.seriesOptionWrapper {
    display: flex;

    height: 40px;
    width: 1140px;
    // border: 1px solid purple;
    .buttonSize{
        width: 380px;
        margin: 0px 3px 3px 0px;
        // border: 1px solid green;
    }

}