.button__red{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(180deg, #d10000, #8e0000);
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: 0;
    cursor: pointer;
}
.button__red:hover{
    background: #ea0000;
}

.button__green{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(180deg, #00d131, #017722);
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: 0;
    
}
.button__green:hover {
    // border: 5px solid blue;
    background: #00ed21;
}

.button__search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 2px;
    margin-right: 2px;
    visibility: hidden;
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: 0;
}