.main {
    // background-color: black;
    // border: 0.5px solid yellow;
    width: 1140px;
    height: 1567px;

    

    .infoBarTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(180deg, #1f1f1f, black);
        border: 0.5px solid blue;
        // padding-left: 30px;
        // padding-right: 30px;
        color: aliceblue;

        // width: 100%;
        height: 37px;
        border-radius: 4px;
    }

    .productViewTopWrapper {
        border: 0.5px solid red;
        display: flex;

        .productViewTop {
            display: flex;

            // justify-content: center;
            // align-items: center;
            // background-image: url("./pc.png");
            color: aliceblue;
            background-repeat: no-repeat;
            height: 240px;
            width: 380px;
            // margin-left: auto;
            // margin-right: auto;
        }
    }

    .seriesOptionWrapper {
        display: flex;
        height: 40px;
        width: 1140px;

    }

    .banner {
        display: flex;
        align-items: center;
        height: 56px;
        width: 1140px;
        padding-left: 15px;
        color: aliceblue;
        background-image: linear-gradient(180deg, #454545, #282727);
    }

    .productViewbottomWrapper {
        // border: 0.5px solid purple;
        display: flex;
        flex-wrap: wrap;

        height: 660px;
        width: 1140px;

        .productViewBottom {
            // border: 0.5px solid orange;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            // background-image: url("./pc.png");
            color: aliceblue;
            background-color: #161616;
            background-repeat: no-repeat;
            height: 660px;
            width: 365px;
            margin: 7.5px;
        }
    }
}