.spinner-background {
    position: fixed;
    height: 100%;
    width: 100%;
    /* background-color:darkgray */
    background: rgba(79, 79, 79, 0.6);
}

.spinner-icon {
    /* centered */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px; 
    margin-left: -50px; 
   
    /* background: rgba(79, 79, 79, 0.2); */
    background-image: url('../../Assets/spinner-of-dots.png');
    background-size: cover;
    /* border: 2px solid yellow; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .spinner-icon {
        animation: logo-spin infinite 1.5s steps(20);
    }
}

.spinner-icon {
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}