.mainPictureSlideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // border: 2px solid blue;
    position: relative;
    .mySlides {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: 2px solid purple;
        left: 50%;
        .imageWrapper {
            display: flex;
            flex-direction: row;
            width: 2280px;
            // border: 2px solid orange;
            .image {
                height: 468px;
                width: 1140px;

            }

            @media (prefers-reduced-motion: no-preference) {
                .currentPicture {
                    animation: currentPicture infinite 3000ms ease;
                }
                

            }
            @keyframes currentPicture {
                // 0% {
                //     transform: translateX(1140px);
                // }

                // 20% {
                //     transform: translateX(0px);
                // }

                80% {
                    transform: translateX(0px);
                }

                100% {
                    transform: translateX(-1140px);
                }
            }
           

            @media (prefers-reduced-motion: no-preference) {
                .nextPicture {
                    animation: nextPicture infinite 3000ms ease;
                }
            }
            @keyframes nextPicture {
                
                // 0% {
                //     transform: translateX(1140px);
                // }

                // 20% {
                //     transform: translateX(0px);
                // }
                80% {
                    transform: translateX(0px);
                }

                100% {
                    transform: translateX(-1140px);
                }
            }
        }
    }
    .sliderDotWrapper {
        position: absolute;
        bottom: 5%;
        left: 40%;
        display: flex;
        
        .sliderDot {
            cursor: pointer;
            // border: 2px solid yellow;
            height: 15px;
            width: 15px;
            margin: 5px;
            background-color: #444;
            border-radius: 50%;
            display: inline-block;
        }
        .active,

        .sliderDot:hover {
            background-color: #d20000;
        }
    }
}