.mainPictureSlideContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 1500px;
    
    .mySlides{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0.5rem;
        
        .image {
            // position: absolute;
            background-size: cover;
            height: 468px;
            width: 1140px;
        }
    
        // .imageTwo {
        //     // position: absolute;
        //     background-image: url("../../../Assets/nySlidePict2.png");
        //     background-size: cover;
        //     height: 468px;
        //     width: 1140px;
        // }
    
        // .imageThree {
        //     // position: absolute;
        //     background-image: url("../../../Assets/nySlidePict3.png");
        //     background-size: cover;
        //     height: 468px;
        //     width: 1140px;
        // }
    }
    .block{
        display: block;
    }
    .none{
        display: none;
    }
    .sliderDotWrapper{
        display: flex;
        position: absolute;
        bottom: 10%;
        right: 10%;
    .sliderDot {
        cursor: pointer;
        border: 2px solid yellow;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #444;
        border-radius: 50%;
        display: inline-block;
        
    }
    .active, .sliderDot:hover{
        background-color: #d20000;
    }
    }
}