// Done
.headerWrapperCart {
    background-color: black;
    // height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid yellow;

    .pictureWrapper {
        display: flex;
        // justify-content: center;
        align-items: center;
        // border: 1px solid purple;
        width: 50%;

        .picture {
            display: flex;
            background-image: url("../../Server/Assets/mm-visionLogo.png"), ;
            background-repeat: no-repeat;
            background-size: cover;
            height: 60px;
            width: 220px;
        }
    }

    .logoCartWrapper {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // height: 60px;
        width: 50%;
        // border: 1px solid purple;

        .logoCartInner{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            // border: 1px solid yellow;
            .logo {
                display: flex;
                justify-content: center;
                // border: 1px solid yellowgreen;
                margin-right: 15px;
                background-image: url("../../Server/Assets/CartLogo.png");
                // background-image: linear-gradient(180deg, red, black);
                background-size: cover;
                height: 33px;
                width: 33px;
                color: aliceblue
            }
    
        }
    }
}